.appbar {
  flex: 0 1 120px;
  background-color: rgb(94, 201, 178);
  display: flex;
  align-items: center;
  .heading {
    flex: 1;
    padding-left: 1.5%;
  }
  .navigation-tab {
    flex: 1.5;
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 10px;
    }
    li {
      flex: 1;
      border-style: solid;
      background-color: rgb(68, 170, 136);
      border-color: rgb(68, 170, 136);
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
    }
    li:hover {
      cursor: pointer;
      background-color: rgb(87, 133, 123);
    }
  }
  .social-media {
    display: flex;
    padding: 10px;

    flex: 1;
    justify-content: flex-end;

    .fa {
      display: flex;
      height: 50px;
      width: 50px;
      margin: 7px;
      border-radius: 50%;
      font-size: 30px;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-decoration: none;
    }

    .fa:hover {
      opacity: 0.7;
    }
    .fa-facebook {
      background: #9087a1;
      color: white;
    }
    .fa-google {
      background: #9087a1;
      color: white;
    }

    .fa-youtube {
      background: #9087a1;
      color: white;
    }

    .fa-instagram {
      background: #9087a1;
      color: white;
    }

    .fa-pinterest {
      background: #9087a1;
      color: white;
    }
  }
}
