.menu-item {
  width: 32%;
  height: 450px;
  min-width: 300px;
  margin: 1%;
  flex: 0 31%;
  display: flex;
  border: 1px solid rgb(168, 164, 164);
  border-radius: 1%;
  overflow: hidden;

  &:first-child {
    width: 100%;
    flex: 0 1 100%;
    height: 760px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &:hover {
    cursor: pointer;
    & .background-image {
      transform: scale(1.1);
      transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    /* & .content {
      opacity: 0.9;
    } */
  }

  /*   .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: 'absolute';

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    } 
  }*/
}
